/*
 * TODO
 *
 * All colors need tweaking
 *
 */

body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: lightgrey;
}

header a {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    padding: 13.5px 13.5px 0;

    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
    color: inherit;
}

header span {
    display: inline-block;
}

header span.title {
    box-sizing: border-box;
    height: 50px;
    padding: 13.5px 13.5px 0;

    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;

    background-color: grey;
}

header span.active {
    background-color: darkgrey;
}

header span.nav-item:hover {
    background-color: darkgrey;
}

.main {
    margin-left: 320px;
    padding-top: 60px;
}

.relic-container {
    padding-right: 80px;
}

.relic-cat {
    padding-bottom: 32px;
}

.relic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
    grid-gap: 10px;
}

.relic-sidebar {
    display: none;
}

.relic:hover .relic-sidebar {
    display: block;

    position: fixed;
    top: 50px;
    left: 0px;

    width: 300px;
    padding: 10px;
}

.relic {
    width: 32px;
    height: 32px;
}

.relic .relic-name {

}

.relic .ironclad-only::before {
    color: red;
    content: 'This relic can only be acquired by the Ironclad!';
}

.relic .silent-only::before {
    color: green;
    content: 'This relic can only be acquired by the Silent!';
}

.relic .defect-only::before {
    color: blue;
    content: 'This relic can only be acquired by the Defect!';
}

/* Relic highlighting */
.relic .hl-number {
    color: blue;
}

.relic .hl-keyword {
    color: gold;
}

.relic .hl-red {
    color: red;
}

.relic .hl-green {
    color: green;
}

/* Relic keywords */
/* TODO
 * Not sure if I'm going to keep this system because it cannot do highlighting within descriptions (by any method I'm aware of)
 * for instance, 'Evoked' in the description of Channel should be highlighted
 */
.relic .keyword-channel::before {
    content: 'Channel';
}
.relic .keyword-channel-desc::before {
    content: 'Channeling an Orb puts it into your first empty slot.  If you have no empty slots your first Orb is automatically Evoked to make room.';
}

.relic .keyword-lightning::before {
    content: 'Lightning';
}
.relic .keyword-lightning-desc::before {
    content: 'Orb: Deals damage to random enemies.';
}
